# Python
.venv/
__pycache__/
*.pyc

# Env
backend/.env
backend/.env.example
backend/secrets/

# Node
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/

# Data
data/
vector_index/

# OS
.DS_Store
Thumbs.db
.venv/
__pycache__/
*.pyc
.DS_Store
env/
venv/
.ipynb_checkpoints/
data/
.idea/
.vscode/
*.log
